flows.json
[
    {
        "id": "a87de0f3.4376f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2e245c58.13f8e4",
        "type": "inject",
        "z": "a87de0f3.4376f",
        "name": "Fake HTTP Request Courses JSON",
        "topic": "",
        "payload": "{\"onlineCourses\":[{\"id\":\"LK8S|ONLINE|20200601\",\"startsAt\":\"2020-11-02T10:00:00\",\"endsAt\":\"2020-11-03T17:00:00\",\"title\":\"Advanced Kubernetes course\",\"description\":\"In this course, you will learn how to build a cluster and explore advanced topics such as networking, storage, multi-data centre and multi cloud deployments.\",\"priceAsString\":\"USD 2,249.00\",\"price\":2249,\"currency\":\"USD\",\"location\":\"Online\",\"tags\":[\"course-online\",\"price-online-course\"],\"timezone\":\"SGT\",\"link\":\"#\",\"url\":\"/online-singapore-june-2020\",\"type\":\"online\"},{\"id\":\"LK8S|ONLINE|20200608\",\"startsAt\":\"2020-10-03T09:00:00\",\"endsAt\":\"2020-10-04T17:00:00\",\"title\":\"Advanced Kubernetes course\",\"description\":\"In this course, I change this summary, you will learn how to build a cluster and explore advanced topics such as networking, storage, multi-data centre and multi cloud deployments.\",\"priceAsString\":\"USD 2,249.00\",\"price\":2249,\"currency\":\"USD\",\"location\":\"Online\",\"tags\":[\"course-online\",\"price-online-course\"],\"timezone\":\"CET\",\"link\":\"#\",\"url\":\"/online-london-june-2020\",\"type\":\"online\"},{\"id\":\"LK8S|ONLINE|20200629\",\"startsAt\":\"2020-10-04T09:00:00\",\"endsAt\":\"2020-10-05T17:00:00\",\"title\":\"Advanced Kubernetes course\",\"description\":\"In this course, you will learn how to build a cluster and explore advanced topics such as networking, storage, multi-data centre and multi cloud deployments.\",\"priceAsString\":\"USD 2,249.00\",\"price\":9999,\"currency\":\"USD\",\"location\":\"Online\",\"tags\":[\"course-online\",\"price-online-course\"],\"timezone\":\"EST\",\"link\":\"#\",\"url\":\"/online-new-york-june-2020\",\"type\":\"online\"},{\"id\":\"LK8S|ONLINE|20200812\",\"startsAt\":\"2020-10-05T09:00:00\",\"endsAt\":\"2020-10-06T17:00:00\",\"title\":\"Advanced Kubernetes course\",\"description\":\"In this course, you will learn how to build a cluster and explore advanced topics such as networking, storage, multi-data centre and multi cloud deployments.\",\"priceAsString\":\"USD 2,249.00\",\"price\":2249,\"currency\":\"USD\",\"location\":\"Online\",\"tags\":[\"course-online\",\"price-online-course\"],\"timezone\":\"CET\",\"link\":\"#\",\"url\":\"/online-europe-august-2020\",\"type\":\"online\"},{\"id\":\"LK8S|ONLINE|20200826\",\"startsAt\":\"2020-10-06T08:00:00\",\"endsAt\":\"2020-10-07T16:00:00\",\"title\":\"Advanced Kubernetes course\",\"description\":\"In this course, you will learn how to build a cluster and explore advanced topics such as networking, storage, multi-data centre and multi cloud deployments.\",\"priceAsString\":\"USD 2,249.00\",\"price\":2249,\"currency\":\"USD\",\"location\":\"Online\",\"tags\":[\"course-online\",\"price-online-course\"],\"timezone\":\"SGT\",\"link\":\"#\",\"url\":\"/online-apac-august-2020\",\"type\":\"online\"},{\"id\":\"LK8S|ONLINE|20200826|2\",\"startsAt\":\"2020-10-07T08:00:00\",\"endsAt\":\"2020-10-08T16:00:00\",\"title\":\"Advanced Kubernetes course\",\"description\":\"In this course, you will learn how to build a cluster and explore advanced topics such as networking, storage, multi-data centre and multi cloud deployments.\",\"priceAsString\":\"USD 2,249.00\",\"price\":2249,\"currency\":\"USD\",\"location\":\"Online\",\"tags\":[\"course-online\",\"price-online-course\"],\"timezone\":\"EDT\",\"link\":\"#\",\"url\":\"/online-north-america-august-2020\",\"type\":\"online\"}],\"inPersonCourses\":[{\"id\":\"LK8S|LONDON|20201005\",\"startsAt\":\"2020-10-08T09:30:00\",\"endsAt\":\"2020-10-09T17:00:00\",\"title\":\"Advanced Kubernetes course\",\"description\":\"In this course, you will learn how to build a cluster and explore advanced topics such as networking, storage, multi-data centre and multi cloud deployments.\",\"priceAsString\":\"GBP 1950.00\",\"price\":1950,\"currency\":\"GBP\",\"location\":\"London\",\"address\":\"CitizenM Southbank, London, UK\",\"tags\":[\"country-europe\",\"course-in-person\"],\"timezone\":\"GMT\",\"link\":\"#\",\"url\":\"/london-october-2020\",\"type\":\"in-person\"},{\"id\":\"LK8S|SINGAPORE|20201005\",\"startsAt\":\"2020-10-09T09:30:00\",\"endsAt\":\"2020-10-10T17:00:00\",\"title\":\"Advanced Kubernetes course\",\"description\":\"In this course, you will learn how to build a cluster and explore advanced topics such as networking, storage, multi-data centre and multi cloud deployments.\",\"priceAsString\":\"SGD 2550.00\",\"price\":2550,\"currency\":\"SGD\",\"location\":\"Singapore\",\"address\":\"JustCo, Singapore\",\"tags\":[\"country-sea\",\"course-in-person\"],\"timezone\":\"SGT\",\"link\":\"#\",\"url\":\"/singapore-october-2020\",\"type\":\"in-person\"},{\"id\":\"LK8S|SANFRANCISCO|20201012\",\"startsAt\":\"2020-10-10T09:30:00\",\"endsAt\":\"2020-10-11T17:00:00\",\"title\":\"Advanced Kubernetes course\",\"description\":\"In this course, you will learn how to build a cluster and explore advanced topics such as networking, storage, multi-data centre and multi cloud deployments.\",\"priceAsString\":\"USD 2,650.00\",\"price\":2650,\"currency\":\"USD\",\"location\":\"San Francisco\",\"address\":\"San Francisco, CA\",\"tags\":[\"country-na\",\"course-in-person\"],\"timezone\":\"PDT\",\"link\":\"#\",\"url\":\"/san-francisco-october-2020\",\"type\":\"in-person\"},{\"id\":\"LK8S|ZURICH|20201005\",\"startsAt\":\"2020-10-11T09:30:00\",\"endsAt\":\"2020-10-12T17:00:00\",\"title\":\"Advanced Kubernetes course\",\"description\":\"In this course, you will learn how to build a cluster and explore advanced topics such as networking, storage, multi-data centre and multi cloud deployments.\",\"priceAsString\":\"SGD 2550.00\",\"price\":2800,\"currency\":\"CHF\",\"location\":\"Zurich\",\"address\":\"Zurich, Switzerland\",\"tags\":[\"country-europe\",\"course-in-person\"],\"timezone\":\"CET\",\"link\":\"#\",\"url\":\"/zurich-october-2020\",\"type\":\"in-person\"}]}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 340,
        "y": 240,
        "wires": [
            [
                "b04e203f.e671c"
            ]
        ]
    },
    {
        "id": "b04e203f.e671c",
        "type": "eventbrite",
        "z": "a87de0f3.4376f",
        "name": "",
        "token": "JC5QYPAH7OM7V5OSYM3I",
        "eventId": "118882050413",
        "organizationId": "470839700131",
        "x": 680,
        "y": 240,
        "wires": [
            [
                "40adde34.3752d"
            ]
        ]
    },
    {
        "id": "40adde34.3752d",
        "type": "debug",
        "z": "a87de0f3.4376f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1050,
        "y": 240,
        "wires": []
    }
]