flows.json
[
    {
        "id": "a87de0f3.4376f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5d87c15b.b5f4f",
        "type": "inject",
        "z": "a87de0f3.4376f",
        "name": "",
        "topic": "topic",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "2",
        "x": 260,
        "y": 40,
        "wires": [
            [
                "59ed574d.5257c8"
            ]
        ]
    },
    {
        "id": "30557f17.9a462",
        "type": "debug",
        "z": "a87de0f3.4376f",
        "name": "hello",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 930,
        "y": 40,
        "wires": []
    },
    {
        "id": "59ed574d.5257c8",
        "type": "example",
        "z": "a87de0f3.4376f",
        "name": "Dan",
        "x": 550,
        "y": 40,
        "wires": [
            [
                "30557f17.9a462"
            ]
        ],
        "icon": "node-red/file.svg"
    },
    {
        "id": "76badf0c.346e8",
        "type": "classifier",
        "z": "a87de0f3.4376f",
        "name": "Classifier",
        "sheetId": "1VNfad_dJBzGQFG_Jw5m3paB_BErpl-rOgGSiNYPdW0E",
        "sheetPage": "2",
        "x": 460,
        "y": 280,
        "wires": [
            [
                "45aca1bb.f2139",
                "ee2b77f6.9e2b48",
                "4987ae6f.e4f39"
            ]
        ]
    },
    {
        "id": "e8d57a97.8a55a8",
        "type": "inject",
        "z": "a87de0f3.4376f",
        "name": "With Keywords",
        "topic": "string",
        "payload": "{\"text\":\"awesome, cool, amazing!! Yay.\",\"keywords\":\"amaze, awesome,yeah\"}",
        "payloadType": "json",
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 240,
        "y": 220,
        "wires": [
            [
                "76badf0c.346e8"
            ]
        ]
    },
    {
        "id": "45aca1bb.f2139",
        "type": "debug",
        "z": "a87de0f3.4376f",
        "name": "category",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "category",
        "targetType": "msg",
        "x": 660,
        "y": 260,
        "wires": []
    },
    {
        "id": "f1018708.79f648",
        "type": "inject",
        "z": "a87de0f3.4376f",
        "name": "Without Keywords",
        "topic": "",
        "payload": "{\"text\":\"awesome, cool, amazing!! Yay.\"}",
        "payloadType": "json",
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 250,
        "y": 340,
        "wires": [
            [
                "76badf0c.346e8"
            ]
        ]
    },
    {
        "id": "ee2b77f6.9e2b48",
        "type": "debug",
        "z": "a87de0f3.4376f",
        "name": "Object",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 650,
        "y": 340,
        "wires": []
    },
    {
        "id": "4987ae6f.e4f39",
        "type": "debug",
        "z": "a87de0f3.4376f",
        "name": "name",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "name",
        "targetType": "msg",
        "x": 650,
        "y": 300,
        "wires": []
    },
    {
        "id": "ee51e14e.236ba",
        "type": "comment",
        "z": "a87de0f3.4376f",
        "name": "Google sheet sample link",
        "info": "[https://docs.google.com/spreadsheets/d/1VNfad_dJBzGQFG_Jw5m3paB_BErpl-rOgGSiNYPdW0E/edit?usp=sharing](https://docs.google.com/spreadsheets/d/1VNfad_dJBzGQFG_Jw5m3paB_BErpl-rOgGSiNYPdW0E/edit?usp=sharing)\n\nid: 1VNfad_dJBzGQFG_Jw5m3paB_BErpl-rOgGSiNYPdW0E",
        "x": 510,
        "y": 380,
        "wires": []
    },
    {
        "id": "93b996fe.a80c88",
        "type": "inject",
        "z": "a87de0f3.4376f",
        "name": "Reload",
        "topic": "",
        "payload": "reload",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 270,
        "y": 380,
        "wires": [
            [
                "76badf0c.346e8"
            ]
        ],
        "outputLabels": [
            "Reload"
        ],
        "icon": "font-awesome/fa-refresh"
    }
]